.DS_Store
**/__pycache__
**/*.egg-info

.env
*.blend
templates
assets
datasets
data
results
outputs
temp
notebooks/renders
notebooks/precompute
notebooks/configs
.claude/

build
build-release
build-torchbindings
.vscode
*.pickle
*.ply

*.log
*.out
